os:
  - linux
sudo: false
language: node_js
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
node_js:
  - "5.0"
  - "4.2"
  - "4.1"
  - "4.0"
install:
  - export CXX=g++-4.8
  - $CXX --version
  - npm i
